#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* CSS for the 'note' class */


.delete-button {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.post-it {
  width: 250px;
  height: 240px;
  position: relative;
  background: #ffa;
  overflow: hidden;
  margin: 30px auto;
  padding: 20px;
  border-radius: 0 0 0 30px/45px;
  font-family: 'Permanent Marker', cursive;
  line-height: 1.7em;
  font-size: 19px;
  color: #130d6b;
}



.post-it:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}

.post-it:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

.post-it:nth-child(5n) a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;   
  background: rgb(172, 211, 237);
}



/*
.yellow-sticker {
  transform: rotate(-6deg);
  background-color: #fff9c4;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
*/